<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">

 <title>Esportes inatel</title><!--titulo pagina-->

<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" /><!--"href"Caminho pasta CSS, "rel" estilo via html-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
</head>
    <body>
        <nav>
            <ul>
                <li><a href="#" class="titulo-blog">ESPORTES INATEL</a></li>
                   <li><a href="#">Home</a></li>
                   <li><a href="/abrir-form">Cadastro de pessoas</a></li>
                   <li><a href="/listar-pessoas">Pessoas</a></li>
                   <li><a href="#noticias">Notícias</a>
                </li>
            </ul>
        </nav>

        <div class="banner-wrap">
            <div class="banner"> <img src="/images/iesportess.jpg" alt="banner" /> </div>
        </div>

        <div class="page-wrap" id="noticias">
                <div class="wrap">
                  <div class="box marRight40">
                    <div class="panel1">
                      <div class="title">
                        <h1></h1>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="panel">
                      <div class="title">
                        <h1>Futebol de Campo</h1>
                        <h2>Dia 23 de Outubro as 19:00 horas</h2>
                      </div>
                      <div class="content">
                        <p>Marque seu horário também pelo site e venha curtir com seus amigos</p>
                        <div class="button"><a href="#">More</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="box marRight40">
                    <div class="panel2">
                      <div class="title">
                        <h1></h1>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="panel">
                      <div class="title">
                        <h1>Area Piscina</h1>
                        <h2>Dia 23 de Outubro as 19:00 horas</h2>
                      </div>
                      <div class="content">
                        <p>Marque seu horário também pelo site e venha curtir com seus amigos</p>
                        <div class="button"><a href="#">More</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="box marRight40">
                    <div class="panel3">
                      <div class="title">
                        <h1></h1>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="panel">
                      <div class="title">
                        <h1>Quadra de Volei</h1>
                        <h2>Dia 23 de Outubro as 19:00 horas</h2>
                      </div>
                      <div class="content">
                        <p>Marque seu horário também pelo site e venha curtir com seus amigos</p>
                        <div class="button"><a href="#">More</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="box marRight40">
                    <div class="panel4">
                      <div class="title">
                        <h1></h1>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="panel">
                      <div class="title">
                        <h1>Quadra de Basquete</h1>
                        <h2>Dia 23 de Outubro as 19:00 horas</h2>
                      </div>
                      <div class="content">
                        <p>Marque seu horário também pelo site e venha curtir com seus amigos</p>
                        <div class="button"><a href="#">More</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
        </div>

        <div class="copyright-wrap">
        <div class="copyright">
            <div class="content">
            <p align="center">© 2018 All Rights Reserved | <a href="#" class="link">www.esportesinatel.com</p>
            <p align="center">AC318</p>
            </div>
        </div>
        </div>
    </body>
</html>
