<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
  
 <title>Menu</title><!--titulo pagina-->

<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" /><!--"href"Caminho pasta CSS, "rel" estilo via html-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/> 
</head>
    <body>
        <nav>            
            <ul>
                <li><a href="#" class="titulo-blog">ESPORTES INATEL  </a>
                    
                </li>
                 <li><a href="#">Home</a></li>
                 <li><a href="/abrir-form">Cadastro de Usuário</a></li>
                 <li><a href="/listar-pessoas">Faculdades</a></li>
                 <li><a href="#">Notícias</a></li>
                 
            </ul>
        </nav>
            <!--
            <div alig="center">    
            </div>
            -->
            <!--
            <img src="iesportess.jpg" 
            width="100%"
            height="550" 
            >-->
        <div class="banner-wrap">
            <div class="banner"> <img src="/images/iesportess.jpg" alt="banner" /> </div>
        </div>

        <div class="page-wrap">
                <div class="wrap">
                  <div class="box marRight40">
                    <div class="panel">
                      <div class="title">
                        <h1>Futebol de Campo</h1>
                        <h2>Dia 10 de Outubro as 19:00 horas</h2>
                      </div>
                      <div class="content">
                        <p>Venha prestigiar este jogo com sua familia e amigos</p>
                        <div class="button"><a href="#">More</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="panel">
                      <div class="title">
                        <h1>Area Piscina</h1>
                        <h2>Dia 11 de Outubro as 19:00 horas</h2>
                      </div>
                      <div class="content">
                        <p>Venha prestigiar este jogo com sua familia e amigos</p>
                        <div class="button"><a href="#">More</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="box marRight40">
                    <div class="panel">
                      <div class="title">
                        <h1>Quadra de Volei</h1>
                        <h2>Dia 12 de Outubro as 19:00 horas</h2>
                      </div>
                      <div class="content">
                        <p>Venha prestigiar este jogo com sua familia e amigos</p>
                        <div class="button"><a href="#">More</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="panel">
                      <div class="title">
                        <h1>Quadra de Basquete</h1>
                        <h2>Dia 13 de Outubro as 19:00 horas</h2>
                      </div>
                      <div class="content">
                        <p>Venha prestigiar este jogo com sua familia e amigos</p>
                        <div class="button"><a href="#">More</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
        </div>
        <div class="clear"></div>

        <div class="copyright-wrap">
        <div class="copyright">
            <div class="content">
            <p align="center">© 2018 All Rights Reserved | <a href="#" class="link">www.EsportesInatel.com</p>
            <p align="center">AC318</p>
            </div>
        </div>
        </div>
    </body>
</html>