<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
	  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Esportes Inatel</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/gaia.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/fonts/pe-icon-7-stroke.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Navegação</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a href="/" class="navbar-brand">
                    Esportes Inatel
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">

                  <li>
                      <a href="/">Início</a>
                  </li>
                  
                  <li class="dropdown">
                      <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa"></i> Alunos
                      </a>
                      <ul class="dropdown-menu dropdown-danger">
                          <li>
                              <a href="/abrir-form">Cadastro</a>
                          </li>
                          <li>
                              <a href="/listar-pessoas">Listar</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#noticias">Notícias</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>


    <div class="section section-header">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url('/img/header-1.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <h1 class="title-modern">Esportes Inatel</h1>
                        <h3>O mundo dos esportes aqui no inatel.</h2>
                        <div class="separator line-separator">♦</div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>Sobre a instituição</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">
                        Fundado em 1965, o Instituto Nacional de Telecomunicações - Inatel - é um centro de excelência em ensino e pesquisa na área de Engenharia, e tem se consolidado cada vez mais, no Brasil e no exterior, como um celeiro de grandes talentos. Foi a primeira instituição de ensino do país a oferecer um curso superior de Engenharia tendo as telecomunicações como foco. É uma instituição de ensino privada sem fins lucrativos, mantida pela Fundação Instituto Nacional de Telecomunicações (Finatel).
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <h3>Empreendedorismo</h3>
                        <p class="description">
                            Desde 1985 o Inatel tem uma Incubadora de Projetos e Empresas. São 11 empresas incubadas e mais de 40 já graduadas em 15 anos de história. Em 2005, a Incubadora de Empresas do Inatel recebeu o prêmio "Melhor Programa de Incubação de Empreendimentos Inovadores do País", pela Associação Nacional de Entidades Promotoras de Empreendimentos Inovadores (Anprotec) e em 2010 foi apontada entre as 20 melhores incubadoras brasileiras pela revista Pequenas Empresas Grandes Negócios.
                        </p>
                    </div>
                </div>

                <!-- separação dos blocos para melhor visualização-->
                <div class="col-md-4"></div>

                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <h3>Responsabilidade Social</h3>
                        <p class="description">
                            O programa Cas@Viva, mantido pelo Inatel, que oferece Alfabetização Tecnológica para Inclusão Social a alunos de baixa renda da rede pública de ensino de Santa Rita do Sapucaí e que já beneficiou mais de 1.400 adolescentes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-our-team-freebie" id="quem-somos">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url('/img/header-2.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="title-area">
                            <h2>Quem somos?</h2>
                            <div class="separator separator-danger">✻</div>
                            <p class="description">
                                Somos a parte do esporte da instituição.</p>
                        </div>
                    </div>

                    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="/img/faces/face_1.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Filipe Firmino</h3>
                                                    <p class="small-text">Desenvolvedor de páginas</p>
                                                    <p class="description">
                                                        Aluno do 8º período de engenharia da computação pelo inatel.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4"></div>

                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="avatar avatar-danger">
                                                    <img alt="..." class="img-circle" src="/img/faces/face_4.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Leonardo Vidal</h3>
                                                    <p class="small-text">Designer de produtos</p>
                                                    <p class="description">
                                                        Aluno do 9º período de engenharia da computação pelo inatel.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-our-clients-freebie" id="noticias">
        <div class="container">
            <div class="title-area">
                <h5 class="subtitle text-gray">Notícias</h5>
                <h2>O que acontece no mundo do esporte?</h2>
                <div class="separator separator-danger">∎</div>
            </div>

            <ul class="nav nav-text" role="tablist">
                <li class="active">
                    <a href="#futebol" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <img alt="..." class="img-circle" src="/img/faces/face_5.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#piscina" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <img alt="..." class="img-circle" src="/img/faces/face_6.jpg"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#volei" role="tab" data-toggle="tab">
                        <div class="image-clients">
                            <img alt="..." class="img-circle" src="/img/faces/face_2.jpg"/>
                        </div>
                    </a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="futebol">
                    <p class="description">
                      Nesta terça-feira (30 de outubro), o Grêmio recebe o River Plate, com transmissão do FOX Sports, ao vivo, a partir das 21h, pela semifinal da Conmebol Libertadores. E na chegada da torcida tricolor à Arena, muita provocação ao adversário e que sobrou até mesmo para D'Alessandro.
                    </p>
                </div>
                <div class="tab-pane" id="piscina">
                    <p class="description">
                      O que você precisa para ser uma boa nadadora? Bom fôlego? Boa técnica? Resistência física? Ou o bíquini/maiô certo que não vai te fazer parecer gorda na piscina? Dentre todos os conselhos possíveis que a Federação Inglesa de Nataç... - Veja mais em https://dibradoras.blogosfera.uol.com.br/2018/10/30/conselho-da-federacao-as-nadadoras-inglesas-como-parecer-magra-na-piscina/?cmpid=copiaecola
                    </p>
                </div>
                <div class="tab-pane" id="volei">
                    <p class="description">
                      O Sesi-Bauru vai decidir o título do Campeonato Paulista pela primeira vez em sua história. O projeto iniciado profissionalmente em 2009 e que ganhou a parceria do Sesi para esta temporada conseguiu uma vitória suada sobre o Pinheiros por 3 sets a 1, parciais de 25 a 21, 25 a 22, 22 a 25 e 25 a 22, em pouco mais de duas horas de jogo, no duelo decisivo disputado no ginásio Panela de Pressão, em Bauru.

                      Com a classificação, o Sesi-Bauru agora enfrenta o Osasco-Audax, que se classificou no fim de semana ao bater o Barueri por 3 sets a 2. As osasquenses igualaram a série em 1 a 1, e depois venceram o golden set por 25 a 16.
                    </p>
                </div>

            </div>

        </div>
    </div>


    <div class="section section-small section-get-started">
        <div class="parallax filter">
            <div class="image"
                style="background-image: url('/img/office-1.jpeg')">
            </div>
            <div class="container">
                <div class="title-area">
                    <h2 class="text-white">Quer marcar um jogo?</h2>
                    <div class="separator line-separator">♦</div>
                    <p class="description">
                      Quer marca um jogo nas modalidades de futebol, volei, basquete e outros?
                      Entre em contato conosco.
                    </p>
                </div>

                <div class="button-get-started">
                    <a href="/" class="btn btn-danger btn-fill btn-lg">Contate-nos</a>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="info">
                        <h5 class="title">Companhia</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="/">Início</a>
                                </li>

                                <li>
                                    <a href="#quem-somos">Quem somos</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="info"></div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="info"></div>
                </div>

                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Nos conheça mais</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/filipe.firmino.986" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/?hl=pt-br" class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-instagram"></i> Instagram
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </footer>

</body>

<!--   core js files    -->
<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/bootstrap.js" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="/javascripts/modernizr.js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="/javascripts/gaia.js"></script>

</html>
