<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/validacao.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  	<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyCWmja0zi6SBxOV4vOq5Exm0nA_ZEGoxz8",
		authDomain: "esporteinatel.firebaseapp.com",
		databaseURL: "https://esporteinatel.firebaseio.com",
		projectId: "esporteinatel",
		storageBucket: "esporteinatel.appspot.com",
		messagingSenderId: "579754760416"
	  };

	  firebase.initializeApp(config);

	  var nome = document.getElementById('titulo');
	  var dbRef = firebase.database().ref().child('titulo');
	  dbRef.on('value', snap => titulo.innerText = snap.val());
	</script>

    <h1 id="titulo">Cadastro de faculdade</h1>

    <fieldset id="formCadastro">
	    <legend>Formulário</legend>
	    <form action="/cadastrar-pessoa/" method="POST" onsubmit="return validacao()">

			<!--Associar label com os elementos - Boa pratica-->
			<label for="nome">Nome</label>
			<input id="nome" placeholder="Nome" name="nome" required autofocus>
			<br></b><br></b>

      <label for="cpf">CPF</label>
      <input id="cpf" placeholder="CPF" name="cpf" maxlength="14">
      <br></b><br></b>

			<label for="email">Email</label>
			<input type="email" id="email" placeholder="Email" name="email">
			<br></b><br></b>

			<label for="range">Matrícula</label>
			<input type="text" id="matricula" placeholder="Matrícula" name="matricula">
			<br></b><br></b>

			<label for="data">Data</label>
			<input type="date" id="data" name="data">
			<br></b><br></b>

			<input type="submit" value="Salvar">
		</form>
	</fieldset>

<!--
  <fieldset>
  	<legend>Mostrar as pessoas cadastradas</legend>
    <form action="/listar-pessoas" method="GET">
      <input type="submit" value="Pessoas cadastradas">
    </form>
  </fieldset>
-->
  </body>
</html>
