/**Cor quando passar por cima**/
#minhaTabela tr:hover td{
  background-color: #feffb7;
}

/**Cor quando selecionado**/
#minhaTabela tr.selecionado td{
  background-color: #aff7ff;
}

/*
button{
  background-color: white;
  border: 5px solid black;
  float: right;
}*/

*--------------ESTILOS GLOBAIS--------------*/
* { /*centraliza o layout no meio da pagina*/
margin:0;
padding:0;
list-style:none;
text-decoration:none;
}

body {
font-family: 'Montserrat', sans-serif;
font-size:18px;
padding: 20px;/*Espessura margem da pagina*/
background:#6495ED;/*cor da pagina*/
}
a, a:visited {
color: #00B7FF;
}

/*--------------ESTILO MENU----------------*/
nav {/*barra de navegação principal*/
background:blue;
width:97%;/*width(porcentagem largura na tela)*/
height:100px;/*altura na tela*/
text-align:center;
position: fixed;
top: 0px;
}

nav ul li {/*Deixa itens do menu um na frente do outro*/
display:inline-block;

}

nav ul li a {
display:block;/*coloca itens no meio de forma solida*/
padding:38px 20px;/*espaco de cima pra baixo dos itens/espacamento entre itens*/
transition: all 0.6s ease;/*tempo de reconhecer mouse passando em cima dos itens do menu*/

}

nav ul li a:hover {
background:#555152;/*cor de fundo ao passar mouse em itens*/
}

.titulo-blog, .titulo-blog:visited {/*CSS do primeiro item da barra menu*/

color:#FBB829;
font-weight:600;
font-size: 20px;
text-transform:uppercase;
justify-content: center;

}

a.titulo-blog:hover {
background:none;
/*justify-content: center; + cor amarela*/
}


.banner-wrap{background:url(/images/bg2.jpg); padding-top:60px; padding-bottom:60px; margin-bottom:50px; margin-top:140px;}
.banner{ width:960px; margin:0 auto;}

 fieldset{
  /*background:#6495ED;*/
  color:black;
  text-transform:uppercase;
  font-size: 20px;
  height: 500px;}

  form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 500px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #000000;
    border-radius: 1em;
}

label {
  /*Para ter certeza que todas as labels
  tem o mesmo tamanho e estão propriamente alinhadas */
  display: inline-block;
  width: 100px;
  text-align: right;
}

input, textarea {

  /* Para harmonizar o look & feel das bordas nos campos de texto*/
  border: 2px solid #000000;
  width: 300px;
}

input[type=submit]{
  width: 200px;
  text-align: center;
}

  /*
  input[type=nome]{
    width: 300px;
  }
  input[type=cpf]{
    width: 320px;
  }
  input[type=email]{
    width: 300px;
  }
  input[type=text]{
    width: 245px;
  }
  input[type=date]{
    width: 150px;
  }

  */

/*--------------CLASSES GENERICAS----------------*/
.marRight40{ margin-right:40px;}
.page-wrap{ width:960px; overflow:hidden; margin:0 auto;}
.wrap{ overflow:hidden;}
.box{ width:460px; float:left; margin-bottom:40px;}


/*--------------PAINEIS----------------*/
.panel{overflow:hidden; background: url(/images/bg3.jpg); padding:30px;}
.panel1{overflow:hidden; background: url(/images/panel1.jpg); padding:30px;height:222px}
.panel2{overflow:hidden; background: url(/images/panel2.jpg); padding:30px;height:222px}
.panel3{overflow:hidden; background: url(/images/panel3.jpg); padding:30px;height:222px}
.panel4{overflow:hidden; background: url(/images/panel4.jpg); padding:30px;height:222px}
.title{ margin-bottom:20px; margin-top:15px;}
.content p{ padding-bottom:10px;}
.content img{margin-right:30px; float:left;}

/*--------------FOOTER CLASSES----------------*/
.copyright-wrap{ overflow:hidden;}
.copyright{width:960px; margin:0 auto; padding-top:40px; padding-bottom:20px;}
.copyright .content p{ color:blue; font-size:17px;}
.copyright .content p a.link{ text-decoration:none; color:blue;}
